@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    font-family: "Josefin Sans", sans-serif;
  }

  :root {
    --clr-primary: #3a7cfd;
    --clr-white: #fff;
    --clr-neutral-100: #fafafa;
    --clr-neutral-200: #e3e4f1;
    --clr-neutral-300: #d1d2da;
    --clr-neutral-500: #9495a5;
    --clr-neutral-800: #494c6b;
    --gradient: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
    --shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  }

  [data-theme="dark"] {
    --clr-white: #25273d;
    --clr-neutral-100: #171823;
    --clr-neutral-200: #393a4b;
    --clr-neutral-300: #4d5067;
    --clr-neutral-500: #5b5e7e;
    --clr-neutral-800: #c8cbe7;
    --shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  }
}

@layer components {
  .container {
    @apply mx-auto;
    width: 96%;
  }

  @media screen(sm) {
    .container {
      width: 20.4375rem;
    }
  }

  @media screen(xl) {
    .container {
      width: 33.75rem;
    }
  }
}
